<nz-collapse>
  <nz-collapse-panel nzHeader="Info" [nzActive]="true" class="collapse-panel">
    <div class="collapse-panel__inner">
      <p>{{ (user$ | async)?.id }}</p>
    </div>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="Skills" [nzActive]="true" class="collapse-panel">
    <div class="collapse-panel__inner">
      <p>{{ (user$ | async)?.id }}</p>
    </div>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Languages"
    [nzActive]="true"
    class="collapse-panel"
  >
    <div class="collapse-panel__inner">
      <p>{{ (user$ | async)?.id }}</p>
    </div>
  </nz-collapse-panel>
</nz-collapse>
