:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--background-auth) url(/assets/background.jpg) no-repeat center center;
  background-size: contain;
  background-blend-mode: darken;
}

.auth {
  width: 360px;
  height: 276px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &__form {
    width: 100%;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link-button {
    padding: 0;
  }

  &__button {
    height: 40px;
  }
}
