<div class="auth">
  <form [formGroup]="form" class="auth__form" (ngSubmit)="onAuthSubmit()">
    <app-input
      formControlName="identifier"
      [label]="'auth.text.username' | translate"
      [placeholder]="'auth.text.username_placeholder' | translate"
    ></app-input>

    <app-input
      formControlName="password"
      [isPassword]="true"
      [passwordVisible]="false"
      [label]="'auth.text.password' | translate"
      [placeholder]="'auth.text.password_placeholder' | translate"
    ></app-input>

    <div class="auth__form__inner-wrapper">
      <label nz-checkbox formControlName="remember">{{ 'auth.actions.remember_me' | translate }}</label>
      <a nz-button nzType="link" class="auth__form__inner-wrapper__link-button">
        {{ 'auth.actions.forgot_password' | translate }}
      </a>
    </div>

    <button type="submit" nz-button nzType="primary" class="auth__form__button" [disabled]="!form.valid">
      {{ 'auth.actions.login' | translate }}
    </button>
  </form>
</div>
<app-loader class="loader" *ngIf="loading"></app-loader>

<div class="ui-controls">
  <app-theme></app-theme>
  <app-translate-control></app-translate-control>
</div>
