:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--background-auth) url(/assets/background.jpg) no-repeat
    center center;
  background-size: contain;
  background-blend-mode: darken;
}
