:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--background-auth) url(/assets/background.jpg) no-repeat center center;
  background-size: contain;
  background-blend-mode: darken;
}

.auth-form__wrapper {
  width: 360px;
  height: 276px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .auth-form {
    width: 100%;
  }

  .auth-form__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .auth-form__link-button {
      padding: 0;
    }
  }

  .auth-form__button {
    height: 40px;
  }
}
