.input-component {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin: 18px 0;

  &__label {
    font-size: 12px;
    line-height: 22px;
    color: var(--text-primary);
    display: flex;
    justify-content: flex-start;

    &__asterisk {
      margin-left: 10px;
      color: var(--status-error);
      font-size: 14px;
      font-family: SimSong;
      font-weight: 400;
    }
  }

  input {
    width: 100%;
    height: 32px;
  }

  &__error-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-height: 36px;
    overflow: hidden;
    min-height: 18px;

    &__error-message {
      top: 55px;
      color: var(--status-error);
      line-height: 18px;
      font-size: 12px;
    }
  }
}
