<div class="input-component">
  <div class="input-component__label-wrapper">
    <label
      class="input-component__label-wrapper__label"
      [textContent]="label"
    ></label>
    <span class="input-component__label-wrapper__asterisk">*</span>
  </div>

  <nz-input-group [nzSuffix]="isPassword ? passwordSuffix : ''">
    <input
      class="nz-input"
      nz-input
      [placeholder]="placeholder"
      [formControl]="control"
      [type]="textVisible ? 'text' : 'password'"
    />
  </nz-input-group>

  <ng-template #passwordSuffix>
    <i nz-icon [nzType]="textVisible ? 'eye-invisible' : 'eye'" (click)="textVisible = !textVisible"></i>
  </ng-template>

  <div class="input-component__error-wrapper">
    <span
      class="input-component__error-wrapper__error-message"
      *ngIf="ngControl.control?.errors && control.touched"
    >
      {{ ngControl.control?.errors | errorMessage | translate }}
    </span>
  </div>
</div>
