<div class="button-block">
  <button nz-button nzType="primary" [routerLink]="['/projects/new']">New Project</button>
</div>
<nz-table #filterTable [nzData]="projectList" nzTableLayout="fixed" *ngIf="projectList$ | async as projectList">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        nzCustomFilter
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name }}

        <nz-filter-trigger [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <span nz-icon nzType="search" (click)="onFilterTrigger(column.searchField)"></span>
        </nz-filter-trigger>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data | filter: searchValue:searchField" [routerLink]="['/projects/', data.id]">
      <td>{{ data.attributes.name }}</td>
      <td>{{ data.attributes.from }}</td>
      <td>
        <div class="td-wrapper">
          {{ data.attributes.to }}
          <i
            nz-icon
            nzType="delete"
            nzTheme="outline"
            class="td-wrapper__nz-icon"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this item?"
            nzPopconfirmPlacement="left"
            (nzOnConfirm)="deleteItem(data.id)"
            (click)="onClick($event)"
          ></i>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Input search..." [formControl]="searchControl" />
    </div>
  </div>
</nz-dropdown-menu>
