<nz-table
  #filterTable
  [nzData]="projectsList"
  nzTableLayout="fixed"
  *ngIf="projectsList$ | async as projectsList"
>
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.attributes.name }}</td>
      <td>{{ data.attributes.from | date: 'mediumDate' }}</td>
      <td>{{ data.attributes.to | date: 'mediumDate' }}</td>
    </tr>
  </tbody>
</nz-table>
