@import "../../styles.scss";

.page {
  height: 80vh;
  overflow: auto;

  .button-block {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 20px;
  }
  .td-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nz-icon {
      z-index: 5;
      cursor: pointer;

      &:hover {
        color: var(--status-error);
      }
    }
  }

  .search-box {
    padding: 8px;
  }
}

@media (max-width: $view-768) {
  .page {
    height: 100%;
    overflow: hidden;
  }
}
