@import "palettes/light";
@import "palettes/dark";

$colors: (
  --background-auth: (
    $background-auth-light,
    $background-auth-dark,
  ),
  --error-color: (
    $error-color-light,
    $error-color-dark,
  ),
);
