// ::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }

// ::-webkit-scrollbar-track {
//   background: var(--background-primary);
// }

// ::-webkit-scrollbar-thumb {
//   background: var(--background-secondary);
//   border-radius: 7px;
// }
