.container {
  margin-top: 30px;

  &__form-wrapper {
    &__first-block {
      display: flex;
      width: 100%;

      &__control {
        flex: 1 1 30%;
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
      &__date_wrapper {
        flex: 1 1 60%;

        &__date_group {
          display: flex;

          &__control {
            flex: 1 1;
            margin: 0 10px;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    &__second-block {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &__control {
        width: 100%;
        flex: 1 1 45%;
        margin: 0 10px 10px 10px;

        &:last-child {
          flex: 0 0 48%;
        }
      }
    }
  }
}
