<ng-container [formGroup]="form" class="container">
  <div class="container__form-wrapper">
    <app-input
      formControlName="internalName"
      [label]="'project_card.labels.internal_name' | translate"
      [placeholder]="'project_card.placeholders.internal_name' | translate"
    ></app-input>

    <div class="container__form-wrapper__first-block">
      <app-input
        formControlName="name"
        [label]="'project_card.labels.name' | translate"
        [placeholder]="'project_card.placeholders.name' | translate"
        class="container__form-wrapper__first-block__control"
      ></app-input>

      <app-app-data-picker
        formControlName="from"
        [label]="'project_card.labels.start_date' | translate"
        [placeholder]="'project_card.placeholders.start_date' | translate"
        class="container__form-wrapper__first-block__control"
      ></app-app-data-picker>

      <app-app-data-picker
        formControlName="to"
        [label]="'project_card.labels.end_date' | translate"
        [placeholder]="'project_card.placeholders.end_date' | translate"
        class="container__form-wrapper__first-block__control"
      ></app-app-data-picker>
    </div>

    <div class="container__form-wrapper__second-block">
      <app-select
        formControlName="skills"
        [label]="'project_card.labels.tech_stack' | translate"
        [options]="skillOptions"
        [nzMode]="'tags'"
        class="container__form-wrapper__second-block__control"
      >
      </app-select>

      <app-select
        formControlName="responsibilities"
        [label]="'project_card.labels.responsibilities' | translate"
        [options]="respOptions"
        [nzMode]="'tags'"
        class="container__form-wrapper__second-block__control"
      >
      </app-select>

      <app-input
        formControlName="domain"
        [label]="'project_card.labels.domain' | translate"
        [placeholder]="'project_card.placeholders.domain' | translate"
        class="container__form-wrapper__second-block__control"
      ></app-input>
    </div>

    <app-textarea
      formControlName="description"
      [label]="'project_card.labels.description' | translate"
      [placeholder]="'project_card.placeholders.description' | translate"
      [minRows]="5"
    ></app-textarea>
  </div>
</ng-container>
