@import "../../../../styles.scss";

.page {
  display: flex;
  height: 75vh;
  overflow: overlay;
  padding-right: 14px;

  &__menu {
    padding: 5px 5px 0 5px;
    position: fixed;
    max-width: 240px;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px var(--borders-light-gray);

    &__first-block {
      &__nz-input {
        width: 100%;
        height: 28px;
      }

      &__nz-menu {
        height: 100%;

        &__nz-menu-item {
          width: 100%;
          border: solid 1px var(--borders-light-gray);

          &__inner-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__nz-icon {
              padding: 10px;
              &:hover {
                color: var(--status-error);
              }
            }
          }
        }
      }
    }

    &__second-block {
      &__nz-button {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  &__wrapper {
    margin-left: 240px;
    width: 100%;
    position: relative;

    &__button-block {
      display: flex;
      justify-content: flex-end;
      margin: 10px 0 20px 0;
    }

    &__form {
      &__collapse-panel {
        font-weight: $font-weight-bold;

        &__inner {
          font-weight: $font-weight-normal;

          &__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            &__app-input {
              flex: 1 1 47%;
              margin: 0 10px;
            }

            &__app-textarea {
              flex: 1 1 90%;
              margin: 0 10px;
            }
          }
        }
      }

      &__button_wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
      }

      &__buttons-block {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 20px 0;

        &__button {
          margin: 10px 5px;
        }
      }
    }
  }
}

@media (max-width: $view-768) {
  .page {
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    padding-right: 0;

    &__menu {
      padding: 5px;
      position: static;
      max-width: 100%;
      width: 100vw;
      height: auto;
      min-height: 15vh;
    }

    &__wrapper {
      margin-left: 0;
      height: 100%;
    }
  }
}
