<div class="page">
  <div class="page__menu">
    <div class="page__menu__first-block">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" [formControl]="searchControl" nz-input [placeholder]="'employees.placeholders.search_field'| translate" #search />
      </nz-input-group>

      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>

      <ul nz-menu nzMode="inline" class="page__menu__first-block__nz-menu">
        <li
          nz-menu-item
          class="page__menu__first-block__nz-menu__nz-menu-item"
          *ngFor="let cv of cvs | filter: searchCv:'attributes.name'; let i = index; trackBy: trackByFn"
          (click)="activateForm(cv)"
        >
          <div class="page__menu__first-block__nz-menu__nz-menu-item__inner-wrapper">
            {{ cv.attributes.name }}
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              class="page__menu__first-block__nz-menu__nz-menu-item__inner-wrapper__nz-icon"
              nz-popconfirm
              [nzPopconfirmTitle]="'popconfirm.title' | translate"
              [nzOkText]="'popconfirm.ok' | translate"
              [nzCancelText]="'popconfirm.cancel' | translate"
              nzPopconfirmPlacement="left"
              (nzOnConfirm)="deleteCv(i)"
              (click)="stopPropagation($event)"
            ></i>
          </div>
        </li>
      </ul>
    </div>

    <div class="page__menu__second-block">
      <button
        class="page__menu__second-block__nz-button"
        type="button"
        nz-button
        nzType="primary"
        (click)="showCvModal()"
      >
        {{ 'employees.actions.add_cv' | translate }}
      </button>
    </div>
  </div>

  <app-cv-modal
    [isVisible]="isCvModalVisible"
    (cvSelected)="onCvSelected($event)"
    (hideModals)="onHideModals()"
  ></app-cv-modal>

  <app-project-modal
    [isVisible]="isProjectModalVisible"
    (projectSelected)="onProjectSelected($event)"
    (hideModals)="onHideModals()"
  >
  </app-project-modal>

  <div class="page__wrapper" *ngIf="isFormVisible">
    <div class="page__wrapper__button-block">
      <button type="button" nz-button nzType="default">{{'employees.actions.preview' | translate}}</button>
    </div>

    <div class="page__wrapper__form">
      <form class="page__wrapper__form" [formGroup]="form" (ngSubmit)="onAuthSubmit()">
        <nz-collapse>
          <nz-collapse-panel [nzHeader]="'employees.actions.info_collapse' | translate" [nzActive]="true" class="page__wrapper__form__collapse-panel">
            <div class="page__wrapper__form__collapse-panel__inner">
              <div class="page__wrapper__form__collapse-panel__inner__block">
                <app-input
                  formControlName="firstName"
                  [label]="'employees.labels.first_name' | translate"
                  [placeholder]="'employees.placeholders.first_name' | translate"
                  class="page__wrapper__form__collapse-panel__inner__block__app-input"
                ></app-input>

                <app-input
                  formControlName="lastName"
                  [label]="'employees.labels.last_name' | translate"
                  [placeholder]="'employees.placeholders.last_name' | translate"
                  class="page__wrapper__form__collapse-panel__inner__block__app-input"
                ></app-input>

                <app-input
                  formControlName="education"
                  [label]="'employees.labels.education' | translate"
                  [placeholder]="'employees.placeholders.education' | translate"
                  class="page__wrapper__form__collapse-panel__inner__block__app-input"
                ></app-input>

                <app-textarea
                  formControlName="description"
                  [label]="'employees.labels.description' | translate"
                  [placeholder]="'employees.placeholders.description' | translate"
                  class="page__wrapper__form__collapse-panel__inner__block__app-textarea"
                ></app-textarea>
              </div>
            </div>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'employees.actions.skills_collapse' | translate" [nzActive]="true" class="page__wrapper__form__collapse-panel">
            <div class="page__wrapper__form__collapse-panel__inner">
              <app-form-array-block formControlName="skills" datatype="skills"></app-form-array-block>
            </div>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'employees.actions.languages_collapse' | translate" [nzActive]="true" class="page__wrapper__form__collapse-panel">
            <div class="page__wrapper__form__collapse-panel__inner">
              <app-form-array-block formControlName="languages" datatype="languages"></app-form-array-block>
            </div>
          </nz-collapse-panel>
        </nz-collapse>

        <div class="page__wrapper__form__button_wrapper">
          <button type="button" nz-button nzType="text" type="button" (click)="showProjectModal()">
            {{ 'form_array_block.actions.add_projects' | translate }}
          </button>
        </div>

        <app-projects-array formControlName="projects"></app-projects-array>

        <div class="page__wrapper__form__buttons-block">
          <button
            type="submit"
            class="page__wrapper__form__buttons-block__button"
            nz-button
            nzType="primary"
            [disabled]="!form.valid"
          >
            {{ 'buttons.save' | translate }}
          </button>
          <button
            type="button"
            class="page__wrapper__form__buttons-block__button"
            nz-button
            nzType="default"
            (click)="onCancel()"
          >
          {{ 'buttons.cancel' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
