@import "../../../../styles.scss";

.page {
  display: flex;

  &__menu {
    max-width: 240px;
    min-height: 75vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid var(--borders-light-gray);

    &__first-block {
      &__nz-input {
        width: 100%;
        height: 28px;
      }

      &__nz-menu {
        height: 100%;

        &__nz-menu-item {
          width: 100%;
          border: dashed 1px var(--borders-light-gray);

          &__inner-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__nz-icon {
              padding: 10px;
              &:hover {
                color: var(--status-error);
              }
            }
          }
        }
      }
    }

    &__second-block {
      &__nz-button {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  &__wrapper {
    width: 100%;
    max-height: 75vh;
    overflow-y: scroll;

    &__button-block {
      display: flex;
      justify-content: flex-end;
      margin: 10px 10px 20px 0;
    }

    &__form {
      &__collapse-panel {
        font-weight: $font-weight-bold;

        &__inner {
          font-weight: $font-weight-normal;

          &__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            &__app-input {
              flex: 1 1 47%;
              margin: 0 10px;
            }

            &__app-textarea {
              flex: 1 1 90%;
              margin: 0 10px;
            }
          }
        }
      }

      &__button_wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
      }

      &__buttons-block {
        display: flex;
        justify-content: flex-end;

        &__button {
          margin: 10px 5px;
        }
      }
    }
  }
}

@media (max-width: $view-768) {
  .page {
    flex-wrap: wrap;

    &__menu {
      max-width: 100%;
      width: 100vw;
      min-height: 25vh;
    }
  }
}
