@import "../../../../styles.scss";

.wrapper {
  display: flex;
  align-items: center;

  &__app-select {
    flex: 1 1 40%;
    margin: 0 10px;
  }
}

@media (max-width: $view-768) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    &__app-select {
      flex: 1 1;
      min-width: 200px;
      margin: 0;
    }
  }
}
