@import '../../../../../styles/variables';

.preview-container {
  background: $simple-white;
  aspect-ratio: 9/16;

  &__head {
    height: 10%;
    display: flex;
    flex-direction: row;

    &__left {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__right {
      width: 70%;
      background: $logo-red;
      color: $simple-white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      &__username,
      &__email {
        line-height: 2;
        font-style: bold;
        margin-left: 16px;
      }

      &__username {
        font-size: 24px;
      }

      &__email {
        font-size: 16px;
      }
    }
  }
  &__body {
    color: $simple-black;
    display: flex;
    margin-left: 5%;
    margin-top: 3%;

    &__left {
      width: 30%;

      &__skills {
        &__heading {
          font-size: 22px;
          font-style: bold;
        }
        &__list {
          &__item {
            &__level {
              display: flex;
              justify-content: flex-start;
              align-content: flex-start;
              width: 35%;
              gap: 2%;

              &__filled {
                content: '';
                width: 60px;
                height: 10px;
                background-color: $logo-red;
              }

              &__empty {
                content: '';
                width: 60px;
                height: 10px;
                background-color: $simple-gray;
              }
            }
          }
        }
      }
      &__languages {
        &__heading {
          font-size: 22px;
          font-style: bold;
        }
        &__list {
          &__item {
            &__level {
              display: flex;
              justify-content: flex-start;
              align-content: flex-start;
              width: 35%;
              gap: 2%;

              &__filled {
                content: '';
                width: 60px;
                height: 10px;
                background-color: $logo-red;
              }

              &__empty {
                content: '';
                width: 60px;
                height: 10px;
                background-color: $simple-gray;
              }
            }
          }
        }
      }
    }
    &__right {
      width: 70%;
      margin-left: -2.2%;

      &__education {
        &__heading {
          font-size: 22px;
          font-style: bold;
        }
      }
      &__projects {
        &__heading {
          font-size: 22px;
          font-style: bold;
        }
        &__list {
          &__item {
            margin-bottom: 5%;
            line-height: 1.1;

            &__heading {
              color: $logo-red;
            }

            &__date {
              font-size: 10px;
            }

            &__responsibilities {
              &__heading {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
