@import "../../styles.scss";

.page {
  height: 80vh;
  overflow: auto;

  .search-box {
    padding: 8px;
  }
}

@media (max-width: $view-768) {
  .page {
    height: 100%;
    overflow: hidden;
  }

  ::ng-deep .ant-table-tbody > tr > td {
    padding: 5px !important;
  }

  ::ng-deep .ant-table-thead > tr > th {
    padding: 5px !important;
  }
}
