<nz-table #filterTable [nzData]="userList" nzTableLayout="fixed" *ngIf="usersList$ | async as userList">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data" [routerLink]="['/employees/', data.id]">
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.email }}</td>
    </tr>
  </tbody>
</nz-table>
