.container {
  margin-top: 30px;

  &__form-wrapper {
    &__first-block {
      display: flex;
      width: 100%;

      &__control {
        flex: 1 1 30%;
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &__date_wrapper {
        flex: 1 1 60%;

        &__date_group {
          display: flex;

          &__control {
            flex: 1 1;
            margin: 0 10px;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    &__second-block {
      display: flex;
      width: 50%;
      flex-direction: column;

      &__control {
        margin-bottom: 10px;
      }
    }

    &__buttons-block {
      display: flex;
      justify-content: flex-end;

      &__button {
        margin: 10px 5px;
      }
    }
  }
}
