@import "../../styles/variables";

.page {
  display: flex;
  height: 100%;
  overflow: auto;

  &__menu {
    padding: 5px;
    max-width: 240px;
    min-height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px var(--borders-light-gray);

    &__first-block {
      &__nz-input {
        width: 100%;
        height: 28px;
      }

      &__nz-menu {
        height: 100%;

        &__nz-menu-item {
          width: 100%;
          border: solid 1px var(--borders-light-gray);

          &__inner-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }

    &__second-block {
      &__nz-button {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  &__wrapper {
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;

    &__button-block {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0 20px 0;
    }

    &__list {
      padding: 1%;
    }
  }
}

@media (max-width: $view-768) {
  .page {
    flex-wrap: wrap;
    overflow: visible;

    &__menu {
      max-width: 100%;
      min-height: 30vh;
      width: 100vw;
    }

    &__wrapper {
      &__list {
        padding: 5px 1px 0 0;
      }
    }
  }
}
