<div class="input-component">
  <div class="input-component__label">
    <label [textContent]="label"></label>
    <span class="input-component__label__asterisk">*</span>
  </div>

  <nz-date-picker class="nz-date-picker" [formControl]="control" [nzPlaceHolder]="placeholder"></nz-date-picker>

  <div class="input-component__error-wrapper">
    <span
      class="input-component__error-wrapper__error-message"
      *ngIf="ngControl.control?.errors?.['required'] && control.touched"
    >
      Please, specify the {{ label | lowercase }}
    </span>

    <span
      class="input-component__error-wrapper__error-message"
      *ngIf="ngControl.control?.errors?.['minlength'] && control.touched"
    >
      The {{ label | lowercase }} can't be less than {{ngControl.control?.errors?.['minlength'].requiredLength}} symbols
    </span>
  </div>
</div>
