@import 'styles/normalize';
@import 'styles/scrollbar';
@import 'styles/typography';
@import 'styles/variables';
@import "styles/cva/cva.scss";

body {
  height: 100vh;
  width: 100vw;
}

[data-theme='dark'] {
  @import 'styles/themes/dark';
  @include dark();
}

[data-theme='light'] {
  @import 'styles/themes/light';
  @include light();
}
