<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item [routerLink]="['/employees/']">
        <i nz-icon nzType="user"></i>
        <span>{{ 'layout.employees' | translate }}</span>
      </li>
      <li nz-menu-item [routerLink]="['/projects/']">
        <i nz-icon nzType="database"></i>
        <span>{{ 'layout.projects' | translate }}</span>
      </li>
      <li nz-menu-item [routerLink]="['/cvs/']">
        <i nz-icon nzType="folder"></i>
        <span>{{ 'layout.cvs' | translate }}</span>
      </li>
      <li nz-menu-item [routerLink]="['/entities/']">
        <i nz-icon nzType="file"></i>
        <span>{{ 'layout.entities' | translate }}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-inner">
        <h3>Title</h3>
        <div class="ui-controls">
          <app-theme></app-theme>
          <app-translate-control></app-translate-control>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>1</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <div class="inner-content__loader_wrapper" *ngIf="loader$ | async">
          <app-loader></app-loader>
        </div>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
