.logo {
  height: 32px;
  margin: 16px;
  background-color: #fff;
  svg {
    height: 100%;
    width: 100%;
  }
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-sider {
  min-height: 100vh;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
