@import "../../styles.scss";

.nz-layout {
  &__nz-sider {
    min-height: 100vh;
    &__logo {
      cursor: pointer;
      height: $header-logo-size-64;
      margin: 0;
      padding: 0 0 0 10px;

      background: url("../../assets/svgs/Frame.svg") 10px 50% no-repeat;
      background-size: 90% auto;
      background-color: $simple-white;
    }
  }

  &__nz-layout {
    &__nz-header {
      background: $simple-white;
      padding: 0 20px;
      display: flex;
      justify-content: flex-end;

      &__menu-wrapper {
        display: flex;
        p {
          padding: 0 10px 0 0;
        }
      }
    }

    &__nz-content {
      margin: 0 16px;

      &__nz-breadcrumb {
        margin: 16px 0;
      }

      &__inner-content {
        padding: 24px;
        background: $simple-white;
        min-height: 360px;
        position: relative;

        &__loader_wrapper {
          margin: -24px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: $overlay-bg-color;
        }
      }
    }
  }
}
