@import "../../styles.scss";

.logo {
  height: 32px;
  margin: 16px;
  background-color: $simple-white;
  svg {
    height: 100%;
    width: 100%;
  }
}

nz-header {
  background: $simple-white;
  padding: 0;
}

.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.ui-controls{
  display: flex;
  justify-content: space-between;
  width: 100px;
}

nz-sider {
  min-height: 100vh;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

.inner-content {
  padding: 24px;
  background: $simple-white;
  min-height: 360px;
  position: relative;

  &__loader_wrapper {
    margin: -24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $overlay-bg-color;
  }
}
