<div class="input-component">
  <div class="input-component__label-wrapper">
    <label class="input-component__label-wrapper__label" [textContent]="label"></label>
    <span class="input-component__label-wrapper__asterisk">*</span>
  </div>

  <textarea
    class="nz-textarea"
    nz-input
    [placeholder]="placeholder"
    [formControl]="control"
    [nzAutosize]="rowsSize"
  ></textarea>

  <div class="input-component__error-wrapper">
    <span class="input-component__error-wrapper__error-message" *ngIf="ngControl.control?.errors && control.touched">
      {{ ngControl.control?.errors | errorMessage }}
    </span>
  </div>
</div>
